.services {
  padding-top: 30px;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    @media (max-width: 1000px) {
      flex-direction: column;
      margin-bottom: 60px;
    }
    &-needs {
      @media (max-width: 1000px) {
        flex-direction: column-reverse;
      }
    }
  }
  &__item-content {
    padding: 89px 20px;
    max-width: 480px;
    width: 100%;
    @media (max-width: 1000px) {
      max-width: 100%;
      padding: 0 20px 60px 20px;
    }
  }

  &__item-title {
    margin-bottom: 30px;
    @media (max-width: 578px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__item-text {
    font-size: 18px;
    line-height: 27px;
    @media (max-width: 578px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__item-img {
    max-width: 600px;
    @media (max-width: 1000px) {
      max-width: unset;
      height: auto;
      width: 80%;
      margin: 0 auto;
    }
    @media (max-width: 578px) {
      width: 100%;
    }
    img {
      background-color: white;
      max-width: 600px;
      max-height: 410px;
      border-radius: 30px;
      padding: 50px 64px;
      box-shadow: (0px 18px 50px rgba(25, 42, 89, 0.2));
      width: 100%;
      @media (max-width: 1000px) {
        width: 100%;
        max-width: unset;
        max-height: 450px;
        padding: 25px 30px;
      }
    }
  }
}
